// SPDX-License-Identifier: GPL-2.0
/*
 * DT Overlay to use GPIO8 (CS0) and GPIO7 (CS2) within the expansion header for MCU_SPI0 (spidev0).
 *
 * Copyright (C) 2025 T3 Foundation - https://www.t3vakfi.org/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
	overlays {
		k3-am67a-t3-gem-o1-spidev0-2cs.kernel = __TIMESTAMP__;
	};
};

&mcu_pmx0 {
	spidev0_2cs_pins: spidev0-2cs-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x0000, PIN_OUTPUT, 0) /* (C12) MCU_SPI0_CS0 */
			J722S_MCU_IOPAD(0x0004, PIN_OUTPUT, 0) /* (A10) MCU_SPI0_CS1 */
			J722S_MCU_IOPAD(0x0024, PIN_OUTPUT, 2) /* (B3) MCU_SPI0_CS2 */
			J722S_MCU_IOPAD(0x0034, PIN_OUTPUT, 2) /* (B2) MCU_SPI0_CS3 */
			J722S_MCU_IOPAD(0x0008, PIN_OUTPUT, 0) /* (A9) MCU_SPI0_CLK */
			J722S_MCU_IOPAD(0x000c, PIN_OUTPUT, 0) /* (B12) MCU_SPI0_D0 */
			J722S_MCU_IOPAD(0x0010, PIN_INPUT, 0)  /* (C11) MCU_SPI0_D1 */
			J722S_MCU_IOPAD(0x0030, PIN_OUTPUT, 7) /* (C3) WKUP_UART0_RTSn.MCU_GPIO0_12 */
		>;
		bootph-all;
	};
};

&mcu_spi0 {
	pinctrl-0 = <&spidev0_2cs_pins>;

	// Need these lines to get rid of dtc warnings
	#address-cells = <1>;
	#size-cells = <0>;

	spidev@0 {
		spi-max-frequency = <50000000>;
		reg = <0>;
		compatible = "rohm,dh2228fv";
	};

	spidev@2 {
		spi-max-frequency = <50000000>;
		reg = <2>;
		compatible = "rohm,dh2228fv";
	};
};
